In [28]:
import tensorflow as tf
import pandas as pd
import numpy as np
import pickle
from tensorflow.keras.models import load_model

In [29]:
# import scaler, OHE, model pickel files

model = load_model('model.h5')

with open('OHE_Geo.pkl','rb') as file:
    geo_encoder = pickle.load(file)
    
with open('label_encoder_gender.pkl','rb') as file:
    label_encoder_gender = pickle.load(file)

with open('Scaler.pkl','rb') as file:
    scaler = pickle.load(file)

WARNING:absl:Compiled the loaded model, but the compiled metrics have yet to be built. `model.compile_metrics` will be empty until you train or evaluate the model.

In [30]:
input_data = {
    'CreditScore':600,
    'Geography':'France',
    'Gender':'Male',
    'Age':40,
    'Tenure':3,
    'Balance':60000,
    'NumOfProducts':2,
    'HasCrCard':1,
    'IsActiveMember':1,
    'EstimatedSalary':50000,
}

In [31]:
geo_encode = geo_encoder.transform([[input_data['Geography']]]).toarray()
geo_encode_df = pd.DataFrame(geo_encode.astype(int),columns=geo_encoder.get_feature_names_out(['Geography']))

c:\Users\Mayank Meghwal\Desktop\Data Science\Projects\ANN_Classifier\venv\Lib\site-packages\sklearn\utils\validation.py:2691: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(

In [32]:
geo_encode_df

   Geography_France  Geography_Germany  Geography_Spain
0                 1                  0                0

In [33]:
input_data = pd.DataFrame([input_data])

In [34]:
input_data

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,600,France,Male,40,3,60000,2,1,1,50000

In [35]:
input_data['Gender'] = label_encoder_gender.transform(input_data['Gender'])
input_data

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,600,France,1,40,3,60000,2,1,1,50000

In [36]:
input_data = pd.concat([input_data.drop('Geography',axis = 1),geo_encode_df],axis = 1)

In [37]:
input_data

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain
0,600,1,40,3,60000,2,1,1,50000,1,0,0

In [38]:
# Scaling the input
scaled_df = scaler.transform(input_data)

In [39]:
scaled_df

array([[-0.54007722,  0.91186722,  0.10685843, -0.69164931, -0.26034447,
         0.81311138,  0.64946204,  0.96978946, -0.88017893,  1.00053348,
        -0.57776083, -0.57735027]])

In [40]:
prediction = model.predict(scaled_df)
prediction

1/1 ━━━━━━━━━━━━━━━━━━━━ 1s 595ms/step

array([[0.0508959]], dtype=float32)

In [ ]:
prediction[0][0] # Probability

np.float32(0.050895903)