In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,LabelEncoder
import pickle

In [3]:
df = pd.read_csv('Churn_Modelling.csv')

In [4]:
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [5]:
df = df.drop(columns=['RowNumber', 'CustomerId', 'Surname'],axis = 1)
df.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [6]:
label_encoder_gender = LabelEncoder()
df['Gender'] = label_encoder_gender.fit_transform(df['Gender'])

In [7]:
df.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0

In [10]:
#OHE for Geographical feature
from sklearn.preprocessing import OneHotEncoder
OHE = OneHotEncoder()
GeoEncode = OHE.fit_transform(df[['Geography']])

In [14]:
GeoEncode

<Compressed Sparse Row sparse matrix of dtype 'float64'
	with 10000 stored elements and shape (10000, 3)>

In [17]:
OHE.get_feature_names_out(['Geography'])

array(['Geography_France', 'Geography_Germany', 'Geography_Spain'],
      dtype=object)

In [21]:
# Take it to the df
df_encoded = pd.DataFrame(data=GeoEncode.toarray().astype(int),columns=OHE.get_feature_names_out(['Geography']))

In [22]:
df_encoded

      Geography_France  Geography_Germany  Geography_Spain
0                    1                  0                0
1                    0                  0                1
2                    1                  0                0
3                    1                  0                0
4                    0                  0                1
...                ...                ...              ...
9995                 1                  0                0
9996                 1                  0                0
9997                 1                  0                0
9998                 0                  1                0
9999                 1                  0                0

[10000 rows x 3 columns]

In [23]:
df = pd.concat([df.drop('Geography',axis=1),df_encoded],axis = 1)
df.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1,0,0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0,0,1
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1,0,0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1,0,0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0,0,1

In [24]:
# Saving of the pickle
with open('label_encoder_gender.pkl', 'wb') as file:
    pickle.dump(label_encoder_gender,file)

In [25]:
with open('OHE_Geo.pkl','wb') as file:
    pickle.dump(OHE,file)

In [26]:
df.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1,0,0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0,0,1
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1,0,0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1,0,0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0,0,1

# Training Model

In [35]:
x = df.drop('Exited',axis = 1)
y = df['Exited']

In [36]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.25, random_state=42)

In [37]:
x_test

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain
6252,596,1,32,3,96709.07,2,0,0,41788.37,0,1,0
4684,623,1,43,1,0.00,2,1,1,146379.30,1,0,0
1731,601,0,44,4,0.00,2,1,0,58561.31,0,0,1
4742,506,1,59,8,119152.10,2,1,1,170679.74,0,1,0
4521,560,0,27,7,124995.98,1,1,1,114669.79,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
4862,645,0,55,1,133676.65,1,0,1,17095.49,0,0,1
7025,569,0,51,3,0.00,3,1,0,75084.96,0,0,1
7647,768,1,25,0,78396.08,1,1,1,8316.19,1,0,0
7161,690,0,36,6,110480.48,1,0,0,81292.33,1,0,0
73,604,0,25,5,157780.84,2,1,1,58426.81,0,1,0

In [38]:
scaled = StandardScaler()
x_train = scaled.fit_transform(x_train)
x_test = scaled.transform(x_test)

In [39]:
# Scaler Pickle
with open('Scaler.pkl','wb') as file:
    pickle.dump(scaled,file)

## ANN Implementation

In [40]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.callbacks import EarlyStopping,TensorBoard
import datetime

In [41]:
(x_train.shape[1],)

(12,)

In [43]:
# ANN Model

model = Sequential([
    Dense(64,activation='relu', input_shape=(x_train.shape[1],)), # 1st Hidden Layer, Connected with inputs.
    Dense(32,activation='relu'), # Hidden Layer 2
    Dense(1,activation='sigmoid') # Output Layer
])

c:\Users\Mayank Meghwal\Desktop\Data Science\Projects\ANN_Classifier\venv\Lib\site-packages\keras\src\layers\core\dense.py:106: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

In [44]:
model.summary()

Model: "sequential"

â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”³â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”³â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”“
â”ƒ Layer (type)                    â”ƒ Output Shape           â”ƒ       Param # â”ƒ
â”¡â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â•‡â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â•‡â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”©
â”‚ dense (Dense)                   â”‚ (None, 64)             â”‚           832 â”‚
â”œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¤
â”‚ dense_1 (Dense)                 â”‚ (None, 32)             â”‚         2,080 â”‚
â”œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¤
â”‚ dense_2 (Dense)                 â”‚ (None, 1)              â”‚            33 â”‚
â””â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”˜

 Total params: 2,945 (11.50 KB)

 Trainable params: 2,945 (11.50 KB)

 Non-trainable params: 0 (0.00 B)

## Optimizers

In [48]:
import tensorflow
opt = tensorflow.keras.optimizers.Adam(learning_rate = 0.01)
# opt

loss = tensorflow.keras.losses.BinaryCrossentropy()
loss

In [ ]:
# Another way
model.compile(optimizer=opt,loss = 'binary_crossentropy',metrics=['accuracy'])

In [51]:
# Setup of TenserBoard to capture and store the Logs
log_dir = "logs/fit/" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorflow_callbacks = TensorBoard(log_dir=log_dir, histogram_freq=1)

In [53]:
tensorflow_callbacks

In [56]:
# Early stopping
early_stopping_callbacks = EarlyStopping(monitor='val_loss',patience=10,restore_best_weights=True)

In [57]:
history = model.fit(x_train,y_train, validation_data=(x_test,y_test),epochs=100,
                    callbacks = [tensorflow_callbacks,early_stopping_callbacks])

Epoch 1/100
235/235 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 7ms/step - accuracy: 0.8595 - loss: 0.3406 - val_accuracy: 0.8632 - val_loss: 0.3419
Epoch 2/100
235/235 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 8ms/step - accuracy: 0.8612 - loss: 0.3389 - val_accuracy: 0.8624 - val_loss: 0.3471
Epoch 3/100
235/235 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 6ms/step - accuracy: 0.8635 - loss: 0.3348 - val_accuracy: 0.8576 - val_loss: 0.3407
Epoch 4/100
235/235 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 3s 11ms/step - accuracy: 0.8647 - loss: 0.3335 - val_accuracy: 0.8604 - val_loss: 0.3462
Epoch 5/100
235/235 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 7ms/step - accuracy: 0.8624 - loss: 0.3313 - val_accuracy: 0.8648 - val_loss: 0.3432
Epoch 6/100
235/235 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 7ms/step - accuracy: 0.8625 - loss: 0.3306 - val_accuracy: 0.8628 - val_loss: 0.3486
Epoch 7/100
235/235 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 7ms/step - accuracy: 0.8641 - loss: 0.3270 - val_accuracy: 0.8652 - val_loss: 0.3415
Epoch 8/100
235/235 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 6ms/step - accuracy: 0.8640 - loss: 0.3252 - val_accuracy: 0.8608 - val_loss: 0.3432
Epoch 9/100
235/235 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 6ms/step - accuracy: 0.8675 - loss: 0.3223 - val_accuracy: 0.8552 - val_loss: 0.3581
Epoch 10/100
235/235 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 7ms/step - accuracy: 0.8697 - loss: 0.3210 - val_accuracy: 0.8628 - val_loss: 0.3514
Epoch 11/100
235/235 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 6ms/step - accuracy: 0.8699 - loss: 0.3180 - val_accuracy: 0.8644 - val_loss: 0.3467
Epoch 12/100
235/235 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 1s 5ms/step - accuracy: 0.8687 - loss: 0.3182 - val_accuracy: 0.8620 - val_loss: 0.3514
Epoch 13/100
235/235 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 1s 5ms/step - accuracy: 0.8687 - loss: 0.3126 - val_accuracy: 0.8572 - val_loss: 0.3521

In [58]:
model.save('model.h5')

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.

In [60]:
# Load Tensorboard Extension
%load_ext tensorboard

In [62]:
%tensorboard --logdir logs/fit

Reusing TensorBoard on port 6006 (pid 13388), started 0:03:54 ago. (Use '!kill 13388' to kill it.)